<!-- Domain Block -->
<section class="domain">
  <div class="domain__brand container">
    <h3 class="domain__title">Our Furnitures Work</h3>
    <p class="domain__success">
      reader will be distracted by the readable content of a page when looking
      at its layout.
    </p>
  </div>
</section>
<!-- Plan Block -->
<section class="plan">
  <div class="container grid grid--1x3">
    <div class="plan__container">
      <div class="plan__img">
        <img class="plan__picture" src="../img/furniture.png" alt="furniture" />
        <h6 class="plan__title">Bedroom</h6>
      </div>
      <a href="#" class="btn btn-secondary plan__btn">see more</a>
      <!-- <button class="btn btn-primary">read more</button> -->
    </div>
    <div class="plan__container container">
      <div class="plan__img">
        <img
          class="plan__picture"
          src="../img/conference-room.png"
          alt="furniture"
        />
        <h6 class="plan__title">office</h6>
      </div>
      <a href="#" class="btn btn-primary plan__btn">see more</a>
      <!-- <button class="btn btn-primary">read more</button> -->
    </div>
    <div class="plan__container container">
      <div class="plan__img">
        <img class="plan__picture" src="../img/bathroom.png" alt="furniture" />
        <h6 class="plan__title">Bathroom</h6>
      </div>
      <a href="#" class="btn btn-secondary plan__btn">see more</a>
      <!-- <button class="btn btn-primary">read more</button> -->
    </div>
  </div>
</section>
