<!-- Hero Slider -->
<div class="swiper mySwiper">
  <div class="swiper-container container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="swiper__img">
          <img class="swiper__sofa" src="../img/leather-sofa.png" alt="" />
        </div>
      </div>
      <div class="swiper-slide swiper-slide__table">
        <div class="swiper__img">
          <h3 class="swiper__title">Best Furnitures For Your Home</h3>
          <img class="swiper__table" src="../img/table.png" alt="" />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper__img">
          <img clas="swiper__throne" src="../img/throne.png" alt="" />
        </div>
      </div>
    </div>
    <div class="swiper__btn">
      <span class="fas fa-arrow-left"></span>
      <span class="fas fa-arrow-right"></span>
    </div>
  </div>
</div>
