<!-- Input Group -->
    <section class="input">
      <div class="input__group__container">
        <form class="input__form">
            <label for="input">Get In Touch</label>
            <input type="text" placeholder="Name" />
            <input type="email" placeholder="Email" />
            <input type="text" placeholder="Phone Number">
            <textarea  cols="30" rows="10" placeholder="Message" /></textarea>
        </form>
        <button class="btn btn-primary input__btn">send</button>
        <button class="btn btn-secondary input__btn">map</button>
      </div>
    </section>