<!-- Nav Bar -->
<header class="header">
  <div class="header__container container">
    <div class="header__top">
      <a href="/" class="header__icon">Fixtures</a>
      <span class="fas fa-phone-alt header__call"> Call: +01234567890</span>
      <span class="fas fas fa-map-marker-alt header__call"> Lorem ipsum</span>
    </div>
    <nav class="header__nav collapsible collapsible--expanded">
      <button class="hamburger"><span></span><span></span><span></span></button>
      <ul class="header__list collapsible__content">
        <li class="header__item">
          <a class="header__link" href="#">home</a>
        </li>
        <li class="header__item">
          <a class="header__link" href="#">about</a>
        </li>
        <li class="header__item">
          <a class="header__link" href="#">furnitures</a>
        </li>
        <li class="header__item">
          <a class="header__link" href="#">blog</a>
        </li>
        <li class="header__item">
          <a class="header__link" href="#">testimonial</a>
        </li>
        <li class="header__item">
          <a class="header__link" href="#">contact us</a>
        </li>
        <li class="header__item">
          <a class="header__link" href="#">login</a>
        </li>
        <span class="fas fa-search header__search"></span>
      </ul>
    </nav>
  </div>
</header>
