<!-- Showcase -->
<section class="showcase">
  <div class="showcase__container container">
    <h5 class="showcase__title">Trending Products</h5>
    <div class="showcase__grid">
      <div class="grid grid--1x2 grid--1x3">
        <div class="showcase__item">
          <svg class="icon showcase__img">
            <use xlink:href="../img/sprite.svg#theater"></use>
          </svg>
          <p class="showcase__brand">chairs</p>
        </div>
        <div class="showcase__item">
          <svg class="icon showcase__img">
            <use xlink:href="../img/sprite.svg#chair"></use>
          </svg>
          <p class="showcase__brand">chair</p>
        </div>
        <div class="showcase__item">
          <svg class="icon showcase__img">
            <use xlink:href="../img/sprite.svg#sideboard"></use>
          </svg>
          <p class="showcase__brand">sideboard</p>
        </div>
        <div class="showcase__item">
          <svg class="icon showcase__img">
            <use xlink:href="../img/sprite.svg#unchair"></use>
          </svg>
          <p class="showcase__brand">unchair</p>
        </div>
        <div class="showcase__item">
          <svg class="icon showcase__img">
            <use xlink:href="../img/sprite.svg#wooden-chair"></use>
          </svg>
          <p class="showcase__brand">chair</p>
        </div>
        <div class="showcase__item">
          <svg class="icon showcase__img">
            <use xlink:href="../img/sprite.svg#beach"></use>
          </svg>
          <p class="showcase__brand">relax chair</p>
        </div>
        <div class="showcase__item">
          <svg class="icon showcase__img">
            <use xlink:href="../img/sprite.svg#bank"></use>
          </svg>
          <p class="showcase__brand">styly chair</p>
        </div>
        <div class="showcase__item">
          <svg class="icon showcase__img">
            <use xlink:href="../img/sprite.svg#daing-chair"></use>
          </svg>
          <p class="showcase__brand">daing chair</p>
        </div>
        <div class="showcase__item showcase__lucky">
          <svg class="icon showcase__img">
            <use xlink:href="../img/sprite.svg#armchair"></use>
          </svg>
          <p class="showcase__brand">relax-chair</p>
        </div>
      </div>
    </div>
    <a href="#" class="btn btn-secondary showcase__btn">see more</a>
  </div>
</section>
