<!-- Testimonial -->
<section class="testimonial container">
  <div class="testimonial__brand">
    <h3 class="testimonial__lucky">About Our Shop</h3>
    <p class="testimonial__content">
      reader will be distracted by the readable content of a page when looking
      at its layout. The point of using Lorem Ipsum is that it has a
      more-or-less normal distribution of letters, as opposed to using 'Content
    </p>
  </div>
  <div class="testimonial__container">
    <div class="grid grid--1x2 grid--1x3">
      <div class="testimonial__img">
        <img
          class="testimonial__picture"
          src="../img/chairs-testimonial.png"
          alt="chair"
        />
      </div>
      <div class="testimonial__body">
        <div class="testimonial__description">
          <h5 class="testimonial__title">Good Furnitures Design</h5>
          <p class="testimonial__success">
            necessary, making this the first true generator on the Internet. It
            uses a dictionary of over 200 Latin words, combined with a handful
            of model sentence structures, to
          </p>
        </div>
        <button class="btn btn-secondary">read more</button>
      </div>
    </div>
  </div>
</section>
